
:root {
    --symbol-size: 80px;
}
body {
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    text-align: center;
    font-size: var(--symbol-size);
    font-family: monospace;
}
tr {
    height: var(--symbol-size);
}

td {
    width: var(--symbol-size);
    box-sizing: border-box;
    outline: 1px solid black;
}
